##### Feature engineering on the original dataset for user input

In [58]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [59]:
df=pd.read_excel('data/flight_price_pred.xlsx')

In [60]:
df['duration_timedelta'] = pd.to_timedelta(df['Duration'])
df['Dept full time'] = df['Date_of_Journey'] + ' ' + df['Dep_Time']
df['timestamp_dept_time'] = pd.to_datetime(df['Dept full time'], format="%d/%m/%Y %H:%M")
df['timestamp_arrival_time'] = df['timestamp_dept_time'] + df['duration_timedelta']
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,duration_timedelta,Dept full time,timestamp_dept_time,timestamp_arrival_time
0,Jet Airways Business,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,05:45,11:25,5h 40m,1 stop,Business class,79512,0 days 05:40:00,01/03/2019 05:45,2019-03-01 05:45:00,2019-03-01 11:25:00
1,Jet Airways Business,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,05:45,12:25,6h 40m,1 stop,Business class,62427,0 days 06:40:00,01/03/2019 05:45,2019-03-01 05:45:00,2019-03-01 12:25:00
2,Jet Airways Business,01/03/2019,Banglore,New Delhi,BLR → MAA → DEL,09:45,14:25,4h 40m,1 stop,Business class,57209,0 days 04:40:00,01/03/2019 09:45,2019-03-01 09:45:00,2019-03-01 14:25:00
3,Jet Airways,18/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:40,00:45 16 Mar,6h 5m,1 stop,No info,54826,0 days 06:05:00,18/03/2019 18:40,2019-03-18 18:40:00,2019-03-19 00:45:00
4,Jet Airways,18/03/2019,Banglore,New Delhi,BLR → BOM → DEL,22:50,05:05 16 Mar,6h 15m,1 stop,No info,54826,0 days 06:15:00,18/03/2019 22:50,2019-03-18 22:50:00,2019-03-19 05:05:00

In [61]:
df.drop(columns=['Date_of_Journey', 'Dep_Time', 'Arrival_Time', 'Dept full time'], axis=1, inplace=True)

In [62]:
df['dept_day'] = df['timestamp_dept_time'].dt.day
df['dept_month'] = df['timestamp_dept_time'].dt.month
df['dept_hour'] = df['timestamp_dept_time'].dt.hour
df['dept_minute'] = df['timestamp_dept_time'].dt.minute

df['arrival_day'] = df['timestamp_arrival_time'].dt.day
df['arrival_month'] = df['timestamp_arrival_time'].dt.month
df['arrival_hour'] = df['timestamp_arrival_time'].dt.hour
df['arrival_minute'] = df['timestamp_arrival_time'].dt.minute

df['duration_hours'] = df['duration_timedelta'].dt.components.hours
df['duration_minutes'] = df['duration_timedelta'].dt.components.minutes

df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,duration_timedelta,timestamp_dept_time,...,dept_day,dept_month,dept_hour,dept_minute,arrival_day,arrival_month,arrival_hour,arrival_minute,duration_hours,duration_minutes
0,Jet Airways Business,Banglore,New Delhi,BLR → BOM → DEL,5h 40m,1 stop,Business class,79512,0 days 05:40:00,2019-03-01 05:45:00,...,1,3,5,45,1,3,11,25,5,40
1,Jet Airways Business,Banglore,New Delhi,BLR → BOM → DEL,6h 40m,1 stop,Business class,62427,0 days 06:40:00,2019-03-01 05:45:00,...,1,3,5,45,1,3,12,25,6,40
2,Jet Airways Business,Banglore,New Delhi,BLR → MAA → DEL,4h 40m,1 stop,Business class,57209,0 days 04:40:00,2019-03-01 09:45:00,...,1,3,9,45,1,3,14,25,4,40
3,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,6h 5m,1 stop,No info,54826,0 days 06:05:00,2019-03-18 18:40:00,...,18,3,18,40,19,3,0,45,6,5
4,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,6h 15m,1 stop,No info,54826,0 days 06:15:00,2019-03-18 22:50:00,...,18,3,22,50,19,3,5,5,6,15

In [63]:
df.drop(columns=['Duration', 'timestamp_dept_time', 'timestamp_arrival_time', 'duration_timedelta'], axis=1, inplace=True)

In [64]:
df = df[df['Total_Stops'] != '4 stops']

In [65]:
df[df['Total_Stops'] == '4 stops']

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Total_Stops, Additional_Info, Price, dept_day, dept_month, dept_hour, dept_minute, arrival_day, arrival_month, arrival_hour, arrival_minute, duration_hours, duration_minutes]
Index: []

In [66]:
df['Route1']=df['Route'].str.split('→').str[0]
df['Route2']=df['Route'].str.split('→').str[1]
df['Route3']=df['Route'].str.split('→').str[2]
df['Route4']=df['Route'].str.split('→').str[3]
df['Route5']=df['Route'].str.split('→').str[4]

for i in ['Route3', 'Route4', 'Route5']:
    df[i].fillna('Not Available',inplace=True)

df.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,dept_day,dept_month,dept_hour,...,arrival_month,arrival_hour,arrival_minute,duration_hours,duration_minutes,Route1,Route2,Route3,Route4,Route5
0,Jet Airways Business,Banglore,New Delhi,BLR → BOM → DEL,1 stop,Business class,79512,1,3,5,...,3,11,25,5,40,BLR,BOM,DEL,Not Available,Not Available
1,Jet Airways Business,Banglore,New Delhi,BLR → BOM → DEL,1 stop,Business class,62427,1,3,5,...,3,12,25,6,40,BLR,BOM,DEL,Not Available,Not Available
2,Jet Airways Business,Banglore,New Delhi,BLR → MAA → DEL,1 stop,Business class,57209,1,3,9,...,3,14,25,4,40,BLR,MAA,DEL,Not Available,Not Available
3,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,1 stop,No info,54826,18,3,18,...,3,0,45,6,5,BLR,BOM,DEL,Not Available,Not Available
4,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,1 stop,No info,54826,18,3,22,...,3,5,5,6,15,BLR,BOM,DEL,Not Available,Not Available

In [67]:
df.drop(columns=['Route'], axis=1, inplace=True)

In [68]:
df.drop(columns=['Additional_Info'], axis=1, inplace=True)

In [69]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,dept_day,dept_month,dept_hour,dept_minute,arrival_day,arrival_month,arrival_hour,arrival_minute,duration_hours,duration_minutes,Route1,Route2,Route3,Route4,Route5
0,Jet Airways Business,Banglore,New Delhi,1 stop,79512,1,3,5,45,1,3,11,25,5,40,BLR,BOM,DEL,Not Available,Not Available
1,Jet Airways Business,Banglore,New Delhi,1 stop,62427,1,3,5,45,1,3,12,25,6,40,BLR,BOM,DEL,Not Available,Not Available
2,Jet Airways Business,Banglore,New Delhi,1 stop,57209,1,3,9,45,1,3,14,25,4,40,BLR,MAA,DEL,Not Available,Not Available
3,Jet Airways,Banglore,New Delhi,1 stop,54826,18,3,18,40,19,3,0,45,6,5,BLR,BOM,DEL,Not Available,Not Available
4,Jet Airways,Banglore,New Delhi,1 stop,54826,18,3,22,50,19,3,5,5,6,15,BLR,BOM,DEL,Not Available,Not Available

Remove all trailing and leading zero from Route Airport codes

In [70]:
df['Route1'] = df['Route1'].str.strip()
df['Route2'] = df['Route2'].str.strip()
df['Route3'] = df['Route3'].str.strip()
df['Route4'] = df['Route4'].str.strip()
df['Route5'] = df['Route5'].str.strip()

In [71]:
df['Route1'].value_counts()

Route1
DEL    4536
CCU    2871
BLR    2196
BOM     697
MAA     381
Name: count, dtype: int64

In [72]:
df['Route2'].value_counts()

Route2
BOM    3867
DEL    2215
HYD    1186
BLR     960
CCU     455
AMD     263
JAI     260
MAA     259
COK     229
BBI     114
IDR     106
GAU      88
NAG      83
GOI      72
PNQ      66
LKO      61
BHO      57
IXR      52
JDH      41
ATQ      40
BDQ      38
IXB      21
RPR      19
UDR      19
TRV      18
VGA      15
IXC      13
IXU      12
VNS      11
PAT      10
KNU      10
GWL       8
DED       3
HBX       3
STV       2
JLR       1
IXZ       1
IXA       1
VTZ       1
NDC       1
Name: count, dtype: int64

In [73]:
df['Route3'].value_counts()

Route3
Not Available    3492
COK              3257
BLR              1834
BOM              1088
DEL               682
MAA                85
HYD                58
AMD                35
NAG                27
GOI                16
IDR                15
VGA                14
BBI                13
GAU                11
BHO                11
PNQ                10
JDH                 6
HBX                 6
IMF                 5
ISK                 4
VTZ                 3
UDR                 3
TRV                 2
IXR                 2
JAI                 1
CCU                 1
IXC                 1
Name: count, dtype: int64

In [74]:
df['Route4'].value_counts()

Route4
Not Available    9117
COK              1113
BLR               302
DEL                83
HYD                32
BOM                25
TRV                 4
GWL                 2
BHO                 1
BBI                 1
NAG                 1
AMD                 1
Name: count, dtype: int64

In [75]:
df['Route5'].value_counts()

Route5
Not Available    10637
COK                 25
BLR                 11
DEL                  7
HYD                  2
Name: count, dtype: int64

In [76]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,dept_day,dept_month,dept_hour,dept_minute,arrival_day,arrival_month,arrival_hour,arrival_minute,duration_hours,duration_minutes,Route1,Route2,Route3,Route4,Route5
0,Jet Airways Business,Banglore,New Delhi,1 stop,79512,1,3,5,45,1,3,11,25,5,40,BLR,BOM,DEL,Not Available,Not Available
1,Jet Airways Business,Banglore,New Delhi,1 stop,62427,1,3,5,45,1,3,12,25,6,40,BLR,BOM,DEL,Not Available,Not Available
2,Jet Airways Business,Banglore,New Delhi,1 stop,57209,1,3,9,45,1,3,14,25,4,40,BLR,MAA,DEL,Not Available,Not Available
3,Jet Airways,Banglore,New Delhi,1 stop,54826,18,3,18,40,19,3,0,45,6,5,BLR,BOM,DEL,Not Available,Not Available
4,Jet Airways,Banglore,New Delhi,1 stop,54826,18,3,22,50,19,3,5,5,6,15,BLR,BOM,DEL,Not Available,Not Available

In [77]:
df['Airline'] = df['Airline'].str.strip()
df['Source'] = df['Source'].str.strip()
df['Destination'] = df['Destination'].str.strip()
df['Total_Stops'] = df['Total_Stops'].str.strip()

In [78]:
df['Airline'].value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [79]:
df['Source'].value_counts()

Source
Delhi       4537
Kolkata     2871
Banglore    2196
Mumbai       697
Chennai      381
Name: count, dtype: int64

In [80]:
df['Destination'].value_counts()

Destination
Cochin       4537
Banglore     2871
Delhi        1265
New Delhi     931
Hyderabad     697
Kolkata       381
Name: count, dtype: int64

In [81]:
df['Total_Stops'].value_counts()

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
Name: count, dtype: int64

Rename Banglore to Bangalore from source and Destination.
Capitalize values in total_stops

In [82]:
df['Source'] = df['Source'].replace({'Banglore': 'Bangalore'})
df['Destination'] = df['Destination'].replace({'Banglore': 'Bangalore'})
df['Total_Stops'] = df['Total_Stops'].replace({'non-stop': 'Non-stop',
                                               '1 stop': '1 Stop',
                                               '2 stops': '2 Stops',
                                               '3 stops': '3 Stops'})

In [83]:
df['Source'].value_counts()

Source
Delhi        4537
Kolkata      2871
Bangalore    2196
Mumbai        697
Chennai       381
Name: count, dtype: int64

In [84]:
df['Destination'].value_counts()

Destination
Cochin       4537
Bangalore    2871
Delhi        1265
New Delhi     931
Hyderabad     697
Kolkata       381
Name: count, dtype: int64

In [85]:
df['Total_Stops'].value_counts()

Total_Stops
1 Stop      5625
Non-stop    3491
2 Stops     1520
3 Stops       45
Name: count, dtype: int64

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10682 non-null  object
 1   Source            10682 non-null  object
 2   Destination       10682 non-null  object
 3   Total_Stops       10681 non-null  object
 4   Price             10682 non-null  int64
 5   dept_day          10682 non-null  int32
 6   dept_month        10682 non-null  int32
 7   dept_hour         10682 non-null  int32
 8   dept_minute       10682 non-null  int32
 9   arrival_day       10682 non-null  int32
 10  arrival_month     10682 non-null  int32
 11  arrival_hour      10682 non-null  int32
 12  arrival_minute    10682 non-null  int32
 13  duration_hours    10682 non-null  int64
 14  duration_minutes  10682 non-null  int64
 15  Route1            10681 non-null  object
 16  Route2            10681 non-null  object
 17  Route3            10682 non-null  object
 18  Route4            10682 non-null  object
 19  Route5            10682 non-null  object
dtypes: int32(8), int64(3), object(9)
memory usage: 1.4+ MB

Output to csv

In [87]:
df.to_csv('data/cleaned_for_user_input.csv', index=False)