##### Feature engineering on the original dataset for user-friendly input

In [6]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [7]:
df=pd.read_excel('data/flight_price_pred.xlsx')

In [8]:
df['duration_timedelta'] = pd.to_timedelta(df['Duration'])
df['Dept full time'] = df['Date_of_Journey'] + ' ' + df['Dep_Time']
df['timestamp_dept_time'] = pd.to_datetime(df['Dept full time'], format="%d/%m/%Y %H:%M")
df['timestamp_arrival_time'] = df['timestamp_dept_time'] + df['duration_timedelta']
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,duration_timedelta,Dept full time,timestamp_dept_time,timestamp_arrival_time
0,Jet Airways Business,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,05:45,11:25,5h 40m,1 stop,Business class,79512,0 days 05:40:00,01/03/2019 05:45,2019-03-01 05:45:00,2019-03-01 11:25:00
1,Jet Airways Business,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,05:45,12:25,6h 40m,1 stop,Business class,62427,0 days 06:40:00,01/03/2019 05:45,2019-03-01 05:45:00,2019-03-01 12:25:00
2,Jet Airways Business,01/03/2019,Banglore,New Delhi,BLR → MAA → DEL,09:45,14:25,4h 40m,1 stop,Business class,57209,0 days 04:40:00,01/03/2019 09:45,2019-03-01 09:45:00,2019-03-01 14:25:00
3,Jet Airways,18/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:40,00:45 16 Mar,6h 5m,1 stop,No info,54826,0 days 06:05:00,18/03/2019 18:40,2019-03-18 18:40:00,2019-03-19 00:45:00
4,Jet Airways,18/03/2019,Banglore,New Delhi,BLR → BOM → DEL,22:50,05:05 16 Mar,6h 15m,1 stop,No info,54826,0 days 06:15:00,18/03/2019 22:50,2019-03-18 22:50:00,2019-03-19 05:05:00

In [9]:
df.drop(columns=['Date_of_Journey', 'Dep_Time', 'Arrival_Time', 'Dept full time'], axis=1, inplace=True)

In [10]:
df['dept_day'] = df['timestamp_dept_time'].dt.day
df['dept_month'] = df['timestamp_dept_time'].dt.month
df['dept_hour'] = df['timestamp_dept_time'].dt.hour
df['dept_minute'] = df['timestamp_dept_time'].dt.minute

df['arrival_day'] = df['timestamp_arrival_time'].dt.day
df['arrival_month'] = df['timestamp_arrival_time'].dt.month
df['arrival_hour'] = df['timestamp_arrival_time'].dt.hour
df['arrival_minute'] = df['timestamp_arrival_time'].dt.minute

df['duration_hours'] = df['duration_timedelta'].dt.components.hours
df['duration_minutes'] = df['duration_timedelta'].dt.components.minutes

df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,duration_timedelta,timestamp_dept_time,...,dept_day,dept_month,dept_hour,dept_minute,arrival_day,arrival_month,arrival_hour,arrival_minute,duration_hours,duration_minutes
0,Jet Airways Business,Banglore,New Delhi,BLR → BOM → DEL,5h 40m,1 stop,Business class,79512,0 days 05:40:00,2019-03-01 05:45:00,...,1,3,5,45,1,3,11,25,5,40
1,Jet Airways Business,Banglore,New Delhi,BLR → BOM → DEL,6h 40m,1 stop,Business class,62427,0 days 06:40:00,2019-03-01 05:45:00,...,1,3,5,45,1,3,12,25,6,40
2,Jet Airways Business,Banglore,New Delhi,BLR → MAA → DEL,4h 40m,1 stop,Business class,57209,0 days 04:40:00,2019-03-01 09:45:00,...,1,3,9,45,1,3,14,25,4,40
3,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,6h 5m,1 stop,No info,54826,0 days 06:05:00,2019-03-18 18:40:00,...,18,3,18,40,19,3,0,45,6,5
4,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,6h 15m,1 stop,No info,54826,0 days 06:15:00,2019-03-18 22:50:00,...,18,3,22,50,19,3,5,5,6,15

In [11]:
df.drop(columns=['Duration', 'timestamp_dept_time', 'timestamp_arrival_time', 'duration_timedelta'], axis=1, inplace=True)

In [12]:
df = df[df['Total_Stops'] != '4 stops']

In [13]:
df[df['Total_Stops'] == '4 stops']

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Total_Stops, Additional_Info, Price, dept_day, dept_month, dept_hour, dept_minute, arrival_day, arrival_month, arrival_hour, arrival_minute, duration_hours, duration_minutes]
Index: []

In [14]:
df['Route1']=df['Route'].str.split('→').str[0]
df['Route2']=df['Route'].str.split('→').str[1]
df['Route3']=df['Route'].str.split('→').str[2]
df['Route4']=df['Route'].str.split('→').str[3]
df['Route5']=df['Route'].str.split('→').str[4]

for i in ['Route3', 'Route4', 'Route5']:
    df[i].fillna('Not Available',inplace=True)

df.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,dept_day,dept_month,dept_hour,...,arrival_month,arrival_hour,arrival_minute,duration_hours,duration_minutes,Route1,Route2,Route3,Route4,Route5
0,Jet Airways Business,Banglore,New Delhi,BLR → BOM → DEL,1 stop,Business class,79512,1,3,5,...,3,11,25,5,40,BLR,BOM,DEL,Not Available,Not Available
1,Jet Airways Business,Banglore,New Delhi,BLR → BOM → DEL,1 stop,Business class,62427,1,3,5,...,3,12,25,6,40,BLR,BOM,DEL,Not Available,Not Available
2,Jet Airways Business,Banglore,New Delhi,BLR → MAA → DEL,1 stop,Business class,57209,1,3,9,...,3,14,25,4,40,BLR,MAA,DEL,Not Available,Not Available
3,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,1 stop,No info,54826,18,3,18,...,3,0,45,6,5,BLR,BOM,DEL,Not Available,Not Available
4,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,1 stop,No info,54826,18,3,22,...,3,5,5,6,15,BLR,BOM,DEL,Not Available,Not Available

In [15]:
df.drop(columns=['Route'], axis=1, inplace=True)

In [16]:
df.drop(columns=['Additional_Info'], axis=1, inplace=True)

In [17]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,dept_day,dept_month,dept_hour,dept_minute,arrival_day,arrival_month,arrival_hour,arrival_minute,duration_hours,duration_minutes,Route1,Route2,Route3,Route4,Route5
0,Jet Airways Business,Banglore,New Delhi,1 stop,79512,1,3,5,45,1,3,11,25,5,40,BLR,BOM,DEL,Not Available,Not Available
1,Jet Airways Business,Banglore,New Delhi,1 stop,62427,1,3,5,45,1,3,12,25,6,40,BLR,BOM,DEL,Not Available,Not Available
2,Jet Airways Business,Banglore,New Delhi,1 stop,57209,1,3,9,45,1,3,14,25,4,40,BLR,MAA,DEL,Not Available,Not Available
3,Jet Airways,Banglore,New Delhi,1 stop,54826,18,3,18,40,19,3,0,45,6,5,BLR,BOM,DEL,Not Available,Not Available
4,Jet Airways,Banglore,New Delhi,1 stop,54826,18,3,22,50,19,3,5,5,6,15,BLR,BOM,DEL,Not Available,Not Available

Output as csv

In [22]:
df.to_csv('data/cleaned_for_user_input.csv', index=False)